PORT=3001
MONGO_URI=mongodb://localhost:27017/Auth_System # or add your connection if not local
JWT_SECRET=<YOUR_SECRECT_HERE>
REFRESH_TOKEN_SECRET=<TOKEN>
# generate token = node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_EXPIRES_IN=5m
REFRESH_TOKEN_EXPIRES_IN=7d

NODE_ENV=development

email_from_address=<YOUR_EMAIL>
email_from_name=<YOUR_NAME>

# 4# Email
EMAIL_PROVIDER=smtp
SMTP_HOST=<HOST>
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=<USER>
SMTP_PASS=<API>
SMTP_FROM_EMAIL=<YOUR_EMAIL>
SMTP_FROM_NAME<YOUR_NAME>

VERIFY_TYPE=otp # OR verification if using verification link

EMAIL_ENABLED=true # if you don't need email service make it false
RESEND_API=<API>